body {
  background: #dcba82;
  color: white;
  padding: 25px;
  font-family: calibri;
  width: 1366px;
	margin: auto;
}

.header {
  overflow: hidden;
  background-color: #77552f;
  padding: 20px 10px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: spectral;
  text-decoration: none;
}

.header-right {
  float: right;
}

hr .solid {
 border-top: 5px solid black;
}

.p2{
  padding-top: 15px;
  text-align: center;
}

.p3 {
  text-align: justify;
  padding-bottom: 30px;
}


.img1 {
  padding-top: 15px;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img7 {
  padding-top: 15px;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figure {
  padding: 4px;
  margin: auto;
}

figcaption {
  font-size:13px;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.img6 {
  padding-top: 15px;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.p4 {
  padding-top: 15px;
  text-align: justify;
  padding-bottom: 60px;
}

.p5 {
  text-align: left;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.caption {
  text-align: center;
  color: white;
}

.img2 {
  width: auto;
  height: 250px;
}

.img3 {
  width: auto;
  height: 250px;
}

.img4 {
  width: auto;
  height: 250px;
}


.footer {
  position: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #77552f;
  color: white;
  font-family: calibri;
  font-size: 17px;
  text-align: center; 
}


.container {
display: flex;
align-items: center;
justify-content: center
}

img {
max-width: 100%
    }

.video {
  flex-basis: 70%;
  order: 2;
  padding-top: 60px;
  padding-left: 120px;
  padding-bottom: 60px;
      }

.text {
  color: white;
  font-size: 15px;
  font-family: calibri;
      }


.container {
display: flex;
align-items: center;
justify-content: center
      }

img {
max-width: 100%
    }

.img7 {
width: 500px;
height: auto;
padding-top: 60px;
padding-bottom: 30px;
      }

.text {
  color: white;
  font-size: 15px;
  font-family: calibri;
      }

